{% extends 'base.html.twig' %}

{% block title %}Two Factor Authentication{% endblock %}

{% block body %}
    <h2 class="text-center p-5">Welcome to Two Factor Authentication Demo</h2>
{% endblock %}
